.payment{
    background-color: white;
}
.payment__container > h1{
    text-align: center;
    padding: 20px;
    font-weight: 400;
    background-color: rgb(234, 237, 237);
    border-bottom: 1px solid lightgray;
}

.payment__container > h1 a{
    text-decoration: none;
}

.payment__section{
    display: flex;
    padding: 20px;
    margin: 0 20px;
    background-color: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    
}

.payment__title{
   
    width: auto;
    padding-left: 20px;
    font-size: 17px;
    font-weight: 800;
}

.payment__address, .payment__items , .payment__details{
    flex: 0.80;
    padding-left: 20px;
}
